/* line 12, ../sass/highlight.scss */
.highlight {
  background-color: #002B36;
}

/* line 15, ../sass/highlight.scss */
.hll {
  background-color: #002B36;
}

/* line 18, ../sass/highlight.scss */
.c {
  color: #859900;
}

/* line 21, ../sass/highlight.scss */
.err {
  color: #d33682;
  background-color: #002B36;
}

/* line 25, ../sass/highlight.scss */
.k {
  color: #268bd2;
}

/* line 28, ../sass/highlight.scss */
.l {
  color: #6c71c4;
}

/* line 31, ../sass/highlight.scss */
.n {
  color: #93a1a1;
}

/* line 34, ../sass/highlight.scss */
.o {
  color: #dc322f;
}

/* line 37, ../sass/highlight.scss */
.p {
  color: #93a1a1;
}

/* line 40, ../sass/highlight.scss */
.cm {
  color: #859900;
}

/* line 43, ../sass/highlight.scss */
.cp {
  color: #859900;
}

/* line 46, ../sass/highlight.scss */
.c1 {
  color: #859900;
}

/* line 49, ../sass/highlight.scss */
.cs {
  color: #859900;
}

/* line 52, ../sass/highlight.scss */
.ge {
  font-style: italic;
}

/* line 55, ../sass/highlight.scss */
.gs {
  font-weight: bold;
}

/* line 58, ../sass/highlight.scss */
.kc {
  color: #268bd2;
}

/* line 61, ../sass/highlight.scss */
.kd {
  color: #268bd2;
}

/* line 64, ../sass/highlight.scss */
.kn {
  color: #dc322f;
}

/* line 67, ../sass/highlight.scss */
.kp {
  color: #268bd2;
}

/* line 70, ../sass/highlight.scss */
.kr {
  color: #268bd2;
}

/* line 73, ../sass/highlight.scss */
.kt {
  color: #268bd2;
}

/* line 76, ../sass/highlight.scss */
.ld {
  color: #b58900;
}

/* line 79, ../sass/highlight.scss */
.m {
  color: #6c71c4;
}

/* line 82, ../sass/highlight.scss */
.s {
  color: #b58900;
}

/* line 85, ../sass/highlight.scss */
.na {
  color: #2aa198;
}

/* line 88, ../sass/highlight.scss */
.nb {
  color: #93a1a1;
}

/* line 91, ../sass/highlight.scss */
.nc {
  color: #2aa198;
}

/* line 94, ../sass/highlight.scss */
.no {
  color: #268bd2;
}

/* line 97, ../sass/highlight.scss */
.nd {
  color: #2aa198;
}

/* line 100, ../sass/highlight.scss */
.ni {
  color: #93a1a1;
}

/* line 103, ../sass/highlight.scss */
.ne {
  color: #2aa198;
}

/* line 106, ../sass/highlight.scss */
.nf {
  color: #2aa198;
}

/* line 109, ../sass/highlight.scss */
.nl {
  color: #93a1a1;
}

/* line 112, ../sass/highlight.scss */
.nn {
  color: #93a1a1;
}

/* line 115, ../sass/highlight.scss */
.nx {
  color: #2aa198;
}

/* line 118, ../sass/highlight.scss */
.py {
  color: #93a1a1;
}

/* line 121, ../sass/highlight.scss */
.nt {
  color: #dc322f;
}

/* line 124, ../sass/highlight.scss */
.nv {
  color: #93a1a1;
}

/* line 127, ../sass/highlight.scss */
.ow {
  color: #dc322f;
}

/* line 130, ../sass/highlight.scss */
.w {
  color: #93a1a1;
}

/* line 133, ../sass/highlight.scss */
.mf {
  color: #6c71c4;
}

/* line 136, ../sass/highlight.scss */
.mh {
  color: #6c71c4;
}

/* line 139, ../sass/highlight.scss */
.mi {
  color: #6c71c4;
}

/* line 142, ../sass/highlight.scss */
.mo {
  color: #6c71c4;
}

/* line 145, ../sass/highlight.scss */
.sb {
  color: #b58900;
}

/* line 148, ../sass/highlight.scss */
.sc {
  color: #b58900;
}

/* line 151, ../sass/highlight.scss */
.sd {
  color: #b58900;
}

/* line 154, ../sass/highlight.scss */
.s2 {
  color: #b58900;
}

/* line 157, ../sass/highlight.scss */
.se {
  color: #6c71c4;
}

/* line 160, ../sass/highlight.scss */
.sh {
  color: #b58900;
}

/* line 163, ../sass/highlight.scss */
.si {
  color: #b58900;
}

/* line 166, ../sass/highlight.scss */
.sx {
  color: #b58900;
}

/* line 169, ../sass/highlight.scss */
.sr {
  color: #b58900;
}

/* line 172, ../sass/highlight.scss */
.s1 {
  color: #b58900;
}

/* line 175, ../sass/highlight.scss */
.ss {
  color: #b58900;
}

/* line 178, ../sass/highlight.scss */
.bp {
  color: #93a1a1;
}

/* line 181, ../sass/highlight.scss */
.vc {
  color: #93a1a1;
}

/* line 184, ../sass/highlight.scss */
.vg {
  color: #93a1a1;
}

/* line 187, ../sass/highlight.scss */
.vi {
  color: #93a1a1;
}

/* line 190, ../sass/highlight.scss */
.il {
  color: #6c71c4;
}
