/* line 19, ../sass/pycon.scss */
.impress-not-supported #impress, .impress-not-supported #impress > div {
  position: static !important;
  margin: 100px 0;
  width: auto !important;
}

/* line 26, ../sass/pycon.scss */
body {
  font-family: Verdana, Arial, serif;
  margin: 0;
}

/* line 30, ../sass/pycon.scss */
#impress {
  width: 100%;
}
/* line 32, ../sass/pycon.scss */
#impress > div {
  width: 100%;
}

/* line 36, ../sass/pycon.scss */
a {
  color: #64BBDB;
}
/* line 38, ../sass/pycon.scss */
a:visited {
  color: #64BBDB;
}

/* line 42, ../sass/pycon.scss */
#footer {
  position: fixed;
  bottom: 0;
  background: #494949;
  color: white;
  width: 96%;
  padding: 5px 2%;
}
/* line 49, ../sass/pycon.scss */
#footer img {
  float: right;
}
/* line 52, ../sass/pycon.scss */
#footer .print {
  display: none;
}
/* line 55, ../sass/pycon.scss */
#footer p {
  margin: 8px 0 0;
}
/* line 58, ../sass/pycon.scss */
#footer.disabled {
  display: none;
}
/* line 61, ../sass/pycon.scss */
#footer div.event {
  float: right;
}

/* line 65, ../sass/pycon.scss */
.step {
  font-size: 28px;
  color: #333333;
  width: 70%;
}

/* line 70, ../sass/pycon.scss */
h1 {
  color: #296177;
}

/* line 73, ../sass/pycon.scss */
h2 {
  color: #64BBDB;
}

/* line 76, ../sass/pycon.scss */
pre {
  padding: 20px;
  color: white;
  font-size: 0.65em;
  line-height: 1.2em;
}

/* line 82, ../sass/pycon.scss */
tt {
  color: #208F9E;
}

/* line 85, ../sass/pycon.scss */
dt {
  font-weight: bold;
}

/* line 88, ../sass/pycon.scss */
table {
  width: 100%;
}

/* line 91, ../sass/pycon.scss */
th {
  border-bottom: 2px solid black;
  padding: 5px 15px;
  text-align: left;
}
/* line 95, ../sass/pycon.scss */
th p {
  margin: 0;
}

/* line 99, ../sass/pycon.scss */
td {
  padding: 5px 15px;
  text-align: left;
}
/* line 102, ../sass/pycon.scss */
td p {
  margin: 0;
}

/* line 106, ../sass/pycon.scss */
#step-1 {
  text-align: center;
}

/* line 116, ../sass/pycon.scss */
.impress-not-supported .step {
  padding: 5%;
  border-bottom: 2px solid #cccccc;
  width: 90% !important;
}
/* line 121, ../sass/pycon.scss */
.impress-not-supported #hovercraft-help {
  display: none;
}
/* line 124, ../sass/pycon.scss */
.impress-not-supported #footer {
  font-size: 15px;
}

@media screen and (max-width: 500px) {
  /* line 129, ../sass/pycon.scss */
  .step {
    width: 200%;
  }
}
/* line 133, ../sass/pycon.scss */
ul li {
  padding-left: 5px;
}
